@import "assets/css/components/header.css";
@import "assets/css/components/firstPage.css";
@import "assets/css/components/descriptionSection.css";
@import "assets/css/components/statisctics.css";
@import "assets/css/components/job.css";
@import "assets/css/components/partners.css";
@import "assets/css/components/trainingProgram.css";
@import "assets/css/components/professors.css";
@import "assets/css/components/footer.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 200px;
    background: black;
}
